.app-box {
  height: auto;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  margin: 25px;
}

.app-image {
  height: 90px;
  width: 90px;
  border-radius: 5px;
}

.app-text {
  font-size: 18px;
  font-weight: bold;
  font-family: bree serif;
  margin: 10px 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .app-box {
    margin: 8px 5px;
    width: 110px;
  }
}
